<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 	
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  	<!-- <script src="Signup.js" defer="true"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Signup Form</title>
  </head>
  <body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <img src="{% static 'login/images/spw.png' %}" alt="My image" width="40" height="40">
        <h2 style="display: inline-block;margin-top: 15px;">Social-Network</h2>
      </div>
      <!-- <center> -->
      <div class="navbar-collapse collapse" id="navbar-main">
        <form class="navbar-form navbar-right" role="search" action='../check1' method='post'>
          {% csrf_token %}
          <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="Username">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
      </div>
        <!-- </center> -->
    </div>
  </div>  
  <form action='../check/' method='post' class="sign">
    {% csrf_token %}
    <!-- <div class="col-lg-4 sm-hidden"></div> -->
    <div class="col-lg-3 col-sm-2 xs-hidden"></div>
    <div class=" col-lg-6 col-sm-8 " >
          <h1>Signup Form</h1>

          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" onblur="namecheck()" onchange="submit()">
            <span id="name1" style="color: red"></span>
          </div>
          <div class="form-group">
            <label for="rollno">Phone No.:</label>
            <input type="text" class="form-control" name="phoneno" id="phoneno" placeholder="Enter Phone no" onblur="phonecheck()" onchange="submit()">
            <span id="phoneno1" style="color: red"></span>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="Enter email" onblur="emailcheck()" onchange="submit()">
            <span id="email1" style="color: red"></span>
          </div>
          <div class="form-group">
            <label for="date">Date</label>
            <input type="text" class="form-control" name="bdate" id="bdate" placeholder="yyyy-mm-dd" onblur="bdatecheck()" onchange="submit()">

            <span id="bdate1" style="color: red"></span>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Enter password" onblur="pwdcheck()" onchange="submit();">
            <span id="pwd1" style="color: red"></span>
          </div>
          <div class="form-group">
            <label for="conpwd">Confirm Password:</label>
            <input type="password" class="form-control" id="conpwd" placeholder="Enter password" onblur="conpwdcheck()" onchange="submit()">
            <span id="conpwd1" style="color: red"></span>
          </div>
          <div class="form-group"  onmouseover="submit()">
            <button type="submit" class="btn btn-primary" disabled onclick="submit1()" id="submit">Submit</button>
            <p id="para"></p>
          </div>
    </div>
  </form>  
     
  </body>
  <script type="text/javascript" src="{% static 'login/signup.js' %}">
    
  </script>
</html>
